<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>TankID</key>
            <integer>3</integer>
            <key>ShowTime</key>
            <real>80.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>TankID</key>
            <integer>1</integer>
            <key>ShowTime</key>
            <real>0.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>TankID</key>
            <integer>2</integer>
            <key>ShowTime</key>
            <real>0.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>900.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>TankID</key>
            <integer>3</integer>
            <key>ShowTime</key>
            <real>0.0000000</real>
            <key>posX</key>
            <real>1800.0000000</real>
            <key>posY</key>
            <real>900.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>TankID</key>
            <integer>1</integer>
            <key>ShowTime</key>
            <real>50.0000000</real>
            <key>posX</key>
            <real>1800.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>TankID</key>
            <integer>2</integer>
            <key>ShowTime</key>
            <real>50.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>900.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>TankID</key>
            <integer>3</integer>
            <key>ShowTime</key>
            <real>50.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>TankID</key>
            <integer>1</integer>
            <key>ShowTime</key>
            <real>80.0000000</real>
            <key>posX</key>
            <real>1800.0000000</real>
            <key>posY</key>
            <real>900.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>TankID</key>
            <integer>2</integer>
            <key>ShowTime</key>
            <real>80.0000000</real>
            <key>posX</key>
            <real>1800.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>TankID</key>
            <integer>1</integer>
            <key>ShowTime</key>
            <real>120.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>900.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>TankID</key>
            <integer>2</integer>
            <key>ShowTime</key>
            <real>120.0000000</real>
            <key>posX</key>
            <real>233.0000000</real>
            <key>posY</key>
            <real>232.0000000</real>
        </dict>
    </dict>
</plist>
